extends layout
block extra_css
	link(href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css', rel='stylesheet')
block extra_js
	// if lte IE 8
		script(src='http://people.iola.dk/olau/flot/excanvas.min.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
	script(src='/javascripts/jquery.flot.js')
	script(type="text/javascript")
		var socket=io.connect(), d1=[], d5=[], d15=[];;
		var interval,limit=1440; // show 2 hours data (7200/5)
		socket.on('newdata', function(v) {
			d1.push(v[0]);			
			d5.push(v[1]);			
			d15.push(v[2]);			
			re_flot();	
		});

		socket.on('init', function(v) {
			interval=v.interval;
			limit=v.limit;
			$('#update_int_lbl').text(interval);
		});	
		socket.on('setint', function(v) {
			if(!isNaN(v)) {
				$('#update_int_lbl').text(v);
				$('#update_int').slider('option', 'value', v);
			}
		});	

		function re_flot() {
			// slice arrays if len>limit
			if(d1.length>limit) {
				d1=d1.slice(1);
				d5=d5.slice(1);
				d15=d1.slice(1);
			}
			var d=[
				{ data: d1, label:'last 1 min load'},
				{ data: d5, label:'last 5 min load'},
				{ data: d15, label:'last 15 mins load'}
			];
			$.plot(
				$('#testflot'), 
				d,
				{
					xaxis:{mode:'time', timeFormat:'%h:%M:%S'},
					legend: { container: $('#legend') }
				}
			);
		}

		$(function() {
			$('#update_int').slider( {
				min:1,
				max:30,
				step:1,
				value:interval,
				slide: function(event, ui) {
					$('#update_int_lbl').text(ui.value);
					socket.emit('reqint', ui.value);
				}
			} );
		});

block content
	h1= title
	p Monitoring #{what}

	p Update Interval 
		span#update_int_lbl

	div#update_int

	div#legend
	div#testflot
		|loading data
